.login-container {
    padding: 10px 20px;
    width: 80vw;
    margin: 0 auto;
    margin-top: 2vh;
    background-color: #5a9216;
    box-shadow: 0 1px 8px rgba(0,0,0, 0.35);
}

.login-container form {
}

.login-container form fieldset {
    border: none;
    font-size: 16px;
}

.login-container form fieldset label {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 30%;
}

.login-container form fieldset input {
  outline: none;
  border: 1px solid black;
  font-size: 16px;
  padding: 2px 4px;
}

.login-container button {
    margin-left: 33%;
}